@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全体レイアウト */
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f5f5f5;
}

/* === スマホフレーム === */
.phone-frame {
  width: 90%;
  max-width: 1000px; /* PCでも広がる上限 */
  height: 95vh;
  background: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

/* === ヘッダー === */
header {
  display: flex;
  align-items: center;
  background-color: #f97316;
  color: white;
  padding: 10px 15px;
  height: 64px;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全ページ共通 */
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f5f5f5;
}

/* button {
  cursor: pointer;
  transition: all 0.2s ease;
}
button:hover {
  opacity: 0.9;
} */

.tag {
  display: inline-block;
  background-color: #fed7aa;
  color: #c05621;
  padding: 4px 8px;
  border-radius: 9999px;
  font-size: 12px;
  margin-right: 4px;
  margin-bottom: 4px;
}
