@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全体レイアウト */
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f5f5f5;
}
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* ページ全体のスクロールを無効化 */
}
